body {
	margin: 0;
	background: #eee;
}

header#main-header {
	text-align: center;
	background-color: rgb(6, 6, 51);
	margin-top: -1%;
	color: #fff;
}
header#main-header h1 {
	padding-top: 2%;
}
h1.long-hdr {
	width: 70%;
	margin-left: 20%;
	padding-bottom: 2%;
}

section#showcase {
	background: url("./showcase.jpg");
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 400px;
}

article#github-works {
	display: grid;
	grid-template-columns: auto auto auto auto;
	text-align: center;
}

article#github-works nav a {
	text-decoration: none;
	color: #002;
	margin: 13px;
}

h2.sec-hdr {
	text-align: center;
}
section h3.repppos {
	border-bottom: 4px #005 dashed;
	font-size: 1.6em;
}

section h3.indi-projects {
	border-bottom: 4px rgb(85, 0, 74) dashed;
	font-size: 1.6em;
}
section h3.group-projects {
	border-bottom: 4px rgb(53, 74, 168) solid;
	font-size: 1.6em;
}
section h3.issuess {
	border-bottom: 4px rgb(11, 173, 19) solid;
	font-size: 1.6em;
}
section#text-anim h2 {
	text-align: center;
	padding-top: 3%;
	padding-bottom: 3%;
	font-size: 2em;
	text-shadow: 2px 2px 2px rgb(255, 255, 255);
}
nav#link-container {
	text-align: left;
	height: 300px;
	overflow-y: scroll;
}
section#text-anim {
	background: url("./clooud.png");
	background-position: center;

	background-size: cover;
	width: 100%;
	height: auto;
}
/**
		footer
*/
footer {
	background: #002;
	color: #fff;
}
footer a {
	color: #fff;
	padding-bottom: 1%;
	font-weight: bold;
}
footer div {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-around;
}
footer p {
	text-align: center;
}

footer p.last-p {
	padding-bottom: 3%;
	font-size: 1.5em;
}

footer h3#contacts,
footer h3#find-me,
div#where * {
	cursor: pointer;
}

footer h3#contacts,
footer h3#find-me {
	text-shadow: 2px 2px 2px rgb(136, 133, 133);
	font-size: 1.7em;
}

p span.big-text {
	text-shadow: 2px 2px 2px rgb(136, 133, 133);
	font-weight: bold;
}

div#where,
div#via {
	display: none;
}

div#via p {
	text-align: left;
}
div#where a {
	text-decoration: none;
}
